.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainDiv{
  margin: 10px;
  padding: 2px;
}
.btn:focus, .btn.focus {
  box-shadow:none;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.9) !important;
}
.nav-link.language{
  border-radius: 0;
  border-bottom: 1px solid transparent !important;
}
.nav-link.language.active{
  border-bottom: 1px solid #7abaff !important;
  background: #eee !important;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #0069d9    !important;
  border-bottom: 1px solid #7abaff;
}
div.is-invalid > .select__control{
  border-color:red;
}
.is-invalid span.invalid-feedback{
  display: block;
}
.custom-control-label{
  font-weight: 100;
}
.page-item.disabled .page-link{
  color:#bbb;
}