html{
  width: 100% !important;
  height: 100%;
}
body {
  min-height: 100% !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  font-size: 17px;
}
body.rtl {
  font-size: 15px;
}
@font-face{
  font-family:'sansMed';
  src:url('../fonts/iranSans/IRANSansWeb_Medium.woff') format('woff'),url('../fonts/iranSans/IRANSansWeb_Medium.ttf') format('truetype');
  font-weight:normal;
  font-style:normal
}
@font-face{
  font-family:'sansLight';
  src:url('../fonts/iranSans/IRANSansWeb_Light.eot?#') format('eot'),url('../fonts/iranSans/IRANSansWeb_Light.woff') format('woff'),url('../fonts/iranSans/IRANSansWeb_Light.ttf') format('truetype');
  font-weight:normal;
  font-style:normal
}
@font-face{
  font-family:'sansUltraLight';
  src:url('../fonts/iranSans/IRANSansWeb_UltraLight.eot?#') format('eot'),url('../fonts/iranSans/IRANSansWeb_UltraLight.woff') format('woff'),url('../fonts/iranSans/IRANSansWeb_UltraLight.ttf') format('truetype');
  font-weight:normal;
  font-style:normal
}
body *  {
  font-family:Poppins;
}

body.rtl *{
  font-family:sansLight;
}
#root{
  width: 100%;
  flex-grow: 1;
}
.loadedContent{
  width: 100% !important;
  height: 100% !important;
}
.font-sm{
  font-size: 11px;
}
.font-md{
  font-size: 15px;
}
.font-lg{
  font-size: 18px;
}
.font-xl{
  font-size: 23px;
}

.custom-flex::after{
  content: '';
  width: 32%;
}
.mainContainer{
  width: 100%;
  max-width: 1150px;
}
.deliveryMain{
  display: flex;
  flex-direction: row;
}
.searchPanel{
  min-width:270px;
  z-index: 2;
  position: relative;
}
.bg-top{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/pattern.jpg) repeat-x center -110px;
  z-index: 0;
}

.navbar {
  box-shadow: 0 0 6px 0 rgba(0,0,0,.08);
  z-index: 100;
}
.searchPanel .mainContainer{
  box-shadow: -1px 6px 9px 0 rgba(0,0,0,.1);
  background-color: #fff;
  border-color: transparent;
  border-radius: 10px;
  width: 100%;
  min-height: 160px;
}
@media screen and (max-width: 1100px){
  .searchPanel{
    min-width:250px;
  }
}
@media screen and (max-width: 900px){
  .deliveryMain{
    display: block;
  }
}
.select__placeholder, ::placeholder {
  opacity: 0.5 !important;
  white-space: nowrap;
}
.min190{
  min-width: 190px;
}
a {outline : none !important;}